<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">{{tool.title}} v{{tool.version}}</li>
</ol>
<div class="row">
  <div class="col-sm-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">System and Browser</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal dl-nomargin">
          <dt>Browser</dt>
          <dd>{{system.browser.family}} {{system.browser.major}}.{{system.browser.minor}}.{{system.browser.patch}}</dd>
          <dt>Operating System</dt>
          <dd>{{system.os.family}} {{system.os.major}}.{{system.os.minor}}.{{system.os.patch}}</dd>
          <dt>Device</dt>
          <dd>{{system.device.family}} {{system.device.major}}.{{system.device.minor}}.{{system.device.patch}}</dd>

          <hr/>

          <dt>Display Resolution</dt>
          <dd><span id="screenWidth">...</span> x <span id="screenHeight">...</span></dd>
          <dt>Browser Resolution</dt>
          <dd><span id="innerWidth">...</span> x <span id="innerHeight">...</span></dd>

          <hr/>

          <dt>Flash Plugin</dt>
          <dd id="hasFlash" style="display:none;">Enabled - Version <span id="flashMajor"></span>.<span id="flashMinor"></span>.<span id="flashRelease"></span></dd>
          <dd id="hasNotFlash" style="display:none;">Disabled</dd>

          <dt>Cookies</dt>
          <dd id="hasCookies" style="display:none;">Enabled</dd>
          <dd id="hasNotCookies" style="display:none;">Disabled</dd>

        </dl>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">IP and Location</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal dl-nomargin">
          <dt>IP</dt>
          <dd><span id="location_ip">...</span></dd>
          <dt>Location</dt>
          <dd><span id="location_city">...</span> <span id="location_region_name">...</span>, <span id="location_country_name">...</span></dd>
          <dt>Global Coordinates</dt>
          <dd><span id="location_latitude">...</span>, <span id="location_longitude">...</span></dd>
          <dt>Time Zone</dt>
          <dd><span id="location_time_zone">...</span></dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading visible-xs">
        <h3 class="panel-title">IP and Location</h3>
      </div>
      <div id="map-wrapper">
        <div id="map" style="height:400px; width:100%"></div>
      </div>
    </div>
  </div>
</div>
